In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("20210401health.xlsx")

In [3]:
df

    Unnamed: 0         日付     歩数  摂取カロリー
0            0 2021-04-01   6120    2500
1            1 2021-04-02   5322    2200
2            2 2021-04-03   6483    2300
3            3 2021-04-04   8433    2000
4            4 2021-04-05  10022    1900
5            5 2021-04-06  10000    1920
6            6 2021-04-07   5553    1890
7            7 2021-04-08   8294    2010
8            8 2021-04-09   6943    2000
9            9 2021-04-10   3835    2000
10          10 2021-04-11  10200    2460
11          11 2021-04-12  15000    2300
12          12 2021-04-13   3455    1900
13          13 2021-04-14   7910    2200
14          14 2021-04-15   4601    2250
15          15 2021-04-16   5894    2150
16          16 2021-04-17   6031    2090
17          17 2021-04-18   6948    2100
18          18 2021-04-19  10566    2000
19          19 2021-04-20  14320    1950
20          20 2021-04-21   5830    2310
21          21 2021-04-22   4590    1940
22          22 2021-04-23   5394    1890
23          23 2021-04-24   9385    1990
24          24 2021-04-25   8540    2440
25          25 2021-04-26   9597    2340
26          26 2021-04-27  10043    2330
27          27 2021-04-28   5389    2210
28          28 2021-04-29   9845    2100
29          29 2021-04-30   9344    2060

In [4]:
# 条件の抽出
df["歩数"] >= 10000

0     False
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
Name: 歩数, dtype: bool