In [1]:
import numpy as np
import pandas as pd

In [4]:
# 1ヶ月分の日付を取得
dates = pd.date_range(start = "2021/04/01", end = "2021/04/30")
dates

DatetimeIndex(['2021-04-01', '2021-04-02', '2021-04-03', '2021-04-04',
               '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
               '2021-04-09', '2021-04-10', '2021-04-11', '2021-04-12',
               '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16',
               '2021-04-17', '2021-04-18', '2021-04-19', '2021-04-20',
               '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29', '2021-04-30'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# 乱数を設定
np.random.seed(123)
df = pd.DataFrame(np.random.randint(1, 31, 30), index=dates, columns=["乱数"])
df

            乱数
2021-04-01  14
2021-04-02   3
2021-04-03  29
2021-04-04   3
2021-04-05   7
2021-04-06  18
2021-04-07  20
2021-04-08  11
2021-04-09  28
2021-04-10  26
2021-04-11  23
2021-04-12   2
2021-04-13   1
2021-04-14  18
2021-04-15  16
2021-04-16  10
2021-04-17   1
2021-04-18  15
2021-04-19   1
2021-04-20  16
2021-04-21  26
2021-04-22  20
2021-04-23  15
2021-04-24  30
2021-04-25   5
2021-04-26   1
2021-04-27  17
2021-04-28   5
2021-04-29  18
2021-04-30  24

In [8]:
# 1年分のデータを作成
dates = pd.date_range(start="2021/01/01", periods=365)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [10]:
dates.shape

(365,)

In [13]:
# 乱数を設定
np.random.seed(123)
df = pd.DataFrame(np.random.randint(1,31,365), index=dates, columns=["乱数"])
df

            乱数
2021-01-01  14
2021-01-02   3
2021-01-03  29
2021-01-04   3
2021-01-05   7
...         ..
2021-12-27  22
2021-12-28   5
2021-12-29  22
2021-12-30   1
2021-12-31   8

[365 rows x 1 columns]

In [20]:
# 月平均を求める
df.groupby(pd.Grouper(freq="M")).mean()

                   乱数
2021-01-31  13.774194
2021-02-28  13.428571
2021-03-31  15.612903
2021-04-30  15.533333
2021-05-31  15.322581
2021-06-30  14.300000
2021-07-31  15.258065
2021-08-31  16.129032
2021-09-30  18.433333
2021-10-31  14.580645
2021-11-30  12.633333
2021-12-31  17.483871