In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_excel("20210401health.xlsx")

In [31]:
df

           日付     歩数  摂取カロリー
0  2021-04-01   6120    2500
1  2021-04-02   5322    2200
2  2021-04-03   6483    2300
3  2021-04-04   8433    2000
4  2021-04-05  10022    1900
5  2021-04-06  10000    1920
6  2021-04-07   5553    1890
7  2021-04-08   8294    2010
8  2021-04-09   6943    2000
9  2021-04-10   3835    2000
10 2021-04-11  10200    2460
11 2021-04-12  15000    2300
12 2021-04-13   3455    1900
13 2021-04-14   7910    2200
14 2021-04-15   4601    2250
15 2021-04-16   5894    2150
16 2021-04-17   6031    2090
17 2021-04-18   6948    2100
18 2021-04-19  10566    2000
19 2021-04-20  14320    1950
20 2021-04-21   5830    2310
21 2021-04-22   4590    1940
22 2021-04-23   5394    1890
23 2021-04-24   9385    1990
24 2021-04-25   8540    2440
25 2021-04-26   9597    2340
26 2021-04-27  10043    2330
27 2021-04-28   5389    2210
28 2021-04-29   9845    2100
29 2021-04-30   9344    2060

In [32]:
# 条件の抽出
df["歩数"] >= 10000

0     False
1     False
2     False
3     False
4      True
5      True
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29    False
Name: 歩数, dtype: bool

In [33]:
# 歩数が１００００以上のものだけ抽出
df_selected = df[df["歩数"] >= 10000]
df_selected

           日付     歩数  摂取カロリー
4  2021-04-05  10022    1900
5  2021-04-06  10000    1920
10 2021-04-11  10200    2460
11 2021-04-12  15000    2300
18 2021-04-19  10566    2000
19 2021-04-20  14320    1950
26 2021-04-27  10043    2330

In [34]:
df_selected.shape

(7, 3)

In [35]:
# query
df.query('歩数 >= 10000 and 摂取カロリー <= 2000')

           日付     歩数  摂取カロリー
4  2021-04-05  10022    1900
5  2021-04-06  10000    1920
18 2021-04-19  10566    2000
19 2021-04-20  14320    1950

In [36]:
df.dtypes

日付        datetime64[ns]
歩数                 int64
摂取カロリー             int64
dtype: object

In [37]:
# 日付をobjectからdatetimeに変換
df.loc[:, 'date'] = df.loc[:, '日付'].apply(pd.to_datetime)

In [38]:
df.loc[:, "date"]

0    2021-04-01
1    2021-04-02
2    2021-04-03
3    2021-04-04
4    2021-04-05
5    2021-04-06
6    2021-04-07
7    2021-04-08
8    2021-04-09
9    2021-04-10
10   2021-04-11
11   2021-04-12
12   2021-04-13
13   2021-04-14
14   2021-04-15
15   2021-04-16
16   2021-04-17
17   2021-04-18
18   2021-04-19
19   2021-04-20
20   2021-04-21
21   2021-04-22
22   2021-04-23
23   2021-04-24
24   2021-04-25
25   2021-04-26
26   2021-04-27
27   2021-04-28
28   2021-04-29
29   2021-04-30
Name: date, dtype: datetime64[ns]

In [41]:
df

           日付     歩数  摂取カロリー       date
0  2021-04-01   6120  2500.0 2021-04-01
1  2021-04-02   5322  2200.0 2021-04-02
2  2021-04-03   6483  2300.0 2021-04-03
3  2021-04-04   8433  2000.0 2021-04-04
4  2021-04-05  10022  1900.0 2021-04-05
5  2021-04-06  10000  1920.0 2021-04-06
6  2021-04-07   5553  1890.0 2021-04-07
7  2021-04-08   8294  2010.0 2021-04-08
8  2021-04-09   6943  2000.0 2021-04-09
9  2021-04-10   3835  2000.0 2021-04-10
10 2021-04-11  10200  2460.0 2021-04-11
11 2021-04-12  15000  2300.0 2021-04-12
12 2021-04-13   3455  1900.0 2021-04-13
13 2021-04-14   7910  2200.0 2021-04-14
14 2021-04-15   4601  2250.0 2021-04-15
15 2021-04-16   5894  2150.0 2021-04-16
16 2021-04-17   6031  2090.0 2021-04-17
17 2021-04-18   6948  2100.0 2021-04-18
18 2021-04-19  10566  2000.0 2021-04-19
19 2021-04-20  14320  1950.0 2021-04-20
20 2021-04-21   5830  2310.0 2021-04-21
21 2021-04-22   4590  1940.0 2021-04-22
22 2021-04-23   5394  1890.0 2021-04-23
23 2021-04-24   9385  1990.0 2021-04-24
24 2021-04-25   8540  2440.0 2021-04-25
25 2021-04-26   9597  2340.0 2021-04-26
26 2021-04-27  10043  2330.0 2021-04-27
27 2021-04-28   5389  2210.0 2021-04-28
28 2021-04-29   9845  2100.0 2021-04-29
29 2021-04-30   9344  2060.0 2021-04-30

In [42]:
# 摂取カロリーを小数に変換
df.loc[:, "摂取カロリー"] = df.loc[:, "摂取カロリー"].astype(np.float32)

In [43]:
df = df.set_index("date")

In [44]:
df.head()

                   日付     歩数  摂取カロリー
date
2021-04-01 2021-04-01   6120  2500.0
2021-04-02 2021-04-02   5322  2200.0
2021-04-03 2021-04-03   6483  2300.0
2021-04-04 2021-04-04   8433  2000.0
2021-04-05 2021-04-05  10022  1900.0

In [45]:
# 並び替え
df.sort_values(by="歩数")

                   日付     歩数  摂取カロリー
date
2021-04-13 2021-04-13   3455  1900.0
2021-04-10 2021-04-10   3835  2000.0
2021-04-22 2021-04-22   4590  1940.0
2021-04-15 2021-04-15   4601  2250.0
2021-04-02 2021-04-02   5322  2200.0
2021-04-28 2021-04-28   5389  2210.0
2021-04-23 2021-04-23   5394  1890.0
2021-04-07 2021-04-07   5553  1890.0
2021-04-21 2021-04-21   5830  2310.0
2021-04-16 2021-04-16   5894  2150.0
2021-04-17 2021-04-17   6031  2090.0
2021-04-01 2021-04-01   6120  2500.0
2021-04-03 2021-04-03   6483  2300.0
2021-04-09 2021-04-09   6943  2000.0
2021-04-18 2021-04-18   6948  2100.0
2021-04-14 2021-04-14   7910  2200.0
2021-04-08 2021-04-08   8294  2010.0
2021-04-04 2021-04-04   8433  2000.0
2021-04-25 2021-04-25   8540  2440.0
2021-04-30 2021-04-30   9344  2060.0
2021-04-24 2021-04-24   9385  1990.0
2021-04-26 2021-04-26   9597  2340.0
2021-04-29 2021-04-29   9845  2100.0
2021-04-06 2021-04-06  10000  1920.0
2021-04-05 2021-04-05  10022  1900.0
2021-04-27 2021-04-27  10043  2330.0
2021-04-11 2021-04-11  10200  2460.0
2021-04-19 2021-04-19  10566  2000.0
2021-04-20 2021-04-20  14320  1950.0
2021-04-12 2021-04-12  15000  2300.0

In [46]:
# 降順
df.sort_values(by="歩数", ascending=False)

                   日付     歩数  摂取カロリー
date
2021-04-12 2021-04-12  15000  2300.0
2021-04-20 2021-04-20  14320  1950.0
2021-04-19 2021-04-19  10566  2000.0
2021-04-11 2021-04-11  10200  2460.0
2021-04-27 2021-04-27  10043  2330.0
2021-04-05 2021-04-05  10022  1900.0
2021-04-06 2021-04-06  10000  1920.0
2021-04-29 2021-04-29   9845  2100.0
2021-04-26 2021-04-26   9597  2340.0
2021-04-24 2021-04-24   9385  1990.0
2021-04-30 2021-04-30   9344  2060.0
2021-04-25 2021-04-25   8540  2440.0
2021-04-04 2021-04-04   8433  2000.0
2021-04-08 2021-04-08   8294  2010.0
2021-04-14 2021-04-14   7910  2200.0
2021-04-18 2021-04-18   6948  2100.0
2021-04-09 2021-04-09   6943  2000.0
2021-04-03 2021-04-03   6483  2300.0
2021-04-01 2021-04-01   6120  2500.0
2021-04-17 2021-04-17   6031  2090.0
2021-04-16 2021-04-16   5894  2150.0
2021-04-21 2021-04-21   5830  2310.0
2021-04-07 2021-04-07   5553  1890.0
2021-04-23 2021-04-23   5394  1890.0
2021-04-28 2021-04-28   5389  2210.0
2021-04-02 2021-04-02   5322  2200.0
2021-04-15 2021-04-15   4601  2250.0
2021-04-22 2021-04-22   4590  1940.0
2021-04-10 2021-04-10   3835  2000.0
2021-04-13 2021-04-13   3455  1900.0

In [47]:
# 歩数を摂取カロリーで割った値を、新しく作ったカラムに挿入
df.loc[:, "歩数/カロリー"] = df.loc[:, "歩数"] / df.loc[:,"摂取カロリー"]
df

                   日付     歩数  摂取カロリー   歩数/カロリー
date
2021-04-01 2021-04-01   6120  2500.0  2.448000
2021-04-02 2021-04-02   5322  2200.0  2.419091
2021-04-03 2021-04-03   6483  2300.0  2.818696
2021-04-04 2021-04-04   8433  2000.0  4.216500
2021-04-05 2021-04-05  10022  1900.0  5.274737
2021-04-06 2021-04-06  10000  1920.0  5.208333
2021-04-07 2021-04-07   5553  1890.0  2.938095
2021-04-08 2021-04-08   8294  2010.0  4.126368
2021-04-09 2021-04-09   6943  2000.0  3.471500
2021-04-10 2021-04-10   3835  2000.0  1.917500
2021-04-11 2021-04-11  10200  2460.0  4.146341
2021-04-12 2021-04-12  15000  2300.0  6.521739
2021-04-13 2021-04-13   3455  1900.0  1.818421
2021-04-14 2021-04-14   7910  2200.0  3.595455
2021-04-15 2021-04-15   4601  2250.0  2.044889
2021-04-16 2021-04-16   5894  2150.0  2.741395
2021-04-17 2021-04-17   6031  2090.0  2.885646
2021-04-18 2021-04-18   6948  2100.0  3.308571
2021-04-19 2021-04-19  10566  2000.0  5.283000
2021-04-20 2021-04-20  14320  1950.0  7.343590
2021-04-21 2021-04-21   5830  2310.0  2.523810
2021-04-22 2021-04-22   4590  1940.0  2.365979
2021-04-23 2021-04-23   5394  1890.0  2.853968
2021-04-24 2021-04-24   9385  1990.0  4.716080
2021-04-25 2021-04-25   8540  2440.0  3.500000
2021-04-26 2021-04-26   9597  2340.0  4.101282
2021-04-27 2021-04-27  10043  2330.0  4.310300
2021-04-28 2021-04-28   5389  2210.0  2.438462
2021-04-29 2021-04-29   9845  2100.0  4.688095
2021-04-30 2021-04-30   9344  2060.0  4.535922

In [51]:
# 歩数/カロリーを元に、運動指数を返却する関数を作成
def exercise_judge(ex):
    if ex <= 3.0:
        return "Low"
    elif 3.0 < ex <= 6.0:
        return "Mid"
    else:
        return "High"

# 関数の返却値を運動指数カラムに格納
df.loc[:, "運動指数"] = df.loc[:, "歩数/カロリー"].apply(exercise_judge)
df

                   日付     歩数  摂取カロリー   歩数/カロリー  運動指数
date
2021-04-01 2021-04-01   6120  2500.0  2.448000   Low
2021-04-02 2021-04-02   5322  2200.0  2.419091   Low
2021-04-03 2021-04-03   6483  2300.0  2.818696   Low
2021-04-04 2021-04-04   8433  2000.0  4.216500   Mid
2021-04-05 2021-04-05  10022  1900.0  5.274737   Mid
2021-04-06 2021-04-06  10000  1920.0  5.208333   Mid
2021-04-07 2021-04-07   5553  1890.0  2.938095   Low
2021-04-08 2021-04-08   8294  2010.0  4.126368   Mid
2021-04-09 2021-04-09   6943  2000.0  3.471500   Mid
2021-04-10 2021-04-10   3835  2000.0  1.917500   Low
2021-04-11 2021-04-11  10200  2460.0  4.146341   Mid
2021-04-12 2021-04-12  15000  2300.0  6.521739  High
2021-04-13 2021-04-13   3455  1900.0  1.818421   Low
2021-04-14 2021-04-14   7910  2200.0  3.595455   Mid
2021-04-15 2021-04-15   4601  2250.0  2.044889   Low
2021-04-16 2021-04-16   5894  2150.0  2.741395   Low
2021-04-17 2021-04-17   6031  2090.0  2.885646   Low
2021-04-18 2021-04-18   6948  2100.0  3.308571   Mid
2021-04-19 2021-04-19  10566  2000.0  5.283000   Mid
2021-04-20 2021-04-20  14320  1950.0  7.343590  High
2021-04-21 2021-04-21   5830  2310.0  2.523810   Low
2021-04-22 2021-04-22   4590  1940.0  2.365979   Low
2021-04-23 2021-04-23   5394  1890.0  2.853968   Low
2021-04-24 2021-04-24   9385  1990.0  4.716080   Mid
2021-04-25 2021-04-25   8540  2440.0  3.500000   Mid
2021-04-26 2021-04-26   9597  2340.0  4.101282   Mid
2021-04-27 2021-04-27  10043  2330.0  4.310300   Mid
2021-04-28 2021-04-28   5389  2210.0  2.438462   Low
2021-04-29 2021-04-29   9845  2100.0  4.688095   Mid
2021-04-30 2021-04-30   9344  2060.0  4.535922   Mid

In [52]:
# DataFrameを保存
df.to_pickle("df_202104health.pickle")

In [53]:
df_moved = pd.get_dummies(df.loc[:, "運動指数"], prefix = "運動")
df_moved

            運動_High  運動_Low  運動_Mid
date
2021-04-01        0       1       0
2021-04-02        0       1       0
2021-04-03        0       1       0
2021-04-04        0       0       1
2021-04-05        0       0       1
2021-04-06        0       0       1
2021-04-07        0       1       0
2021-04-08        0       0       1
2021-04-09        0       0       1
2021-04-10        0       1       0
2021-04-11        0       0       1
2021-04-12        1       0       0
2021-04-13        0       1       0
2021-04-14        0       0       1
2021-04-15        0       1       0
2021-04-16        0       1       0
2021-04-17        0       1       0
2021-04-18        0       0       1
2021-04-19        0       0       1
2021-04-20        1       0       0
2021-04-21        0       1       0
2021-04-22        0       1       0
2021-04-23        0       1       0
2021-04-24        0       0       1
2021-04-25        0       0       1
2021-04-26        0       0       1
2021-04-27        0       0       1
2021-04-28        0       1       0
2021-04-29        0       0       1
2021-04-30        0       0       1

In [55]:
# 保存
df_moved.to_pickle("df_202104moved.pickle")